@page "/"
@using ApplicationLayer.Services
@using DomainLayer.Entities
@using NetcodeHub.Packages.Components.Validations.OnInput
@using NetcodeHub.Packages.Components.Toast
@inject IEmployeeService _emp
@inject ToastService toastService

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-lg-6">
        <EditForm Model="employee" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <FloatingText @bind-Value="employee.Name"
                          Label="Custom Fullname"
                          Placeholder="John Brown" 
                          class="form-control mb-3"/>
            <ValidationMessage For="() => employee.Name" />
            <FloatingTextArea @bind-Value="employee.Address"
                              Label="Custom Address"
                              Placeholder="Bishkek Bakaeva" 
                              class="form-control mb-3"/>
            <ValidationMessage For="() => employee.Address" />

                <button class="btn btn-primary mt-5 mb-5" type="submit">Save</button>
        </EditForm>
    </div>


</div>

<Toast Duration="@duration" Persist="true" @ref="toastService.ToastComponent"/>

@code {
    int duration = 4000;

    Employee employee = new();

    async Task Save()
    {
        var (flag, message) = await _emp.AddAsync(employee);

        if (!flag)
        {
            duration = 5000;
            toastService.ShowErrorToast("Alert", message);
            return;
        }

        toastService.ShowSuccessToast("Success", message);
    }
}
